.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5000;
  display: none;
  padding: var(--space-xxl);
  max-width: 300px;
  color: var(--font-color-dark)
}

.notification.open {
  display: block;
}

.notification .notification-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
}

.notification .notification-item {
  overflow: hidden;
  background: var(--bg-color);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-dark);
  visibility: hidden;
  transition-duration: .4s;
  transition-property: visibility, transform;
  will-change: visibility, transform;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: var(--space-s);
  width: max-content;
  max-width: 100%;
  transform: translateX(100%);
}

.notification .notification-item.open {
  visibility: visible;
  transform: translateX(0%)
}

.notification .notification-item .notification-item-close {
  position: absolute;
  right: var(--space-s);
  top: var(--space-xs);
  font-size: var(--font-size-m);
  cursor: pointer;
  z-index: 2000;
  line-height: 1;
}

.notification .notification-item .notification-item-content {
  display: flex;
  height: 100%;
  flex: 1;
}

.notification .notification-item .notification-item-header {
  font-size: var(--font-size-l);
  padding: var(--space-xs) var(--space-l) var(--space-xs) var(--space-s);
  font-weight: 700;
}

.notification .notification-item .notification-item-header+.notification-item-content {
  padding: 0 var(--space-s) var(--space-xs);
  height: auto;
  display: block;
}